{% extends 'base.html' %}

{% block title %}
  Services
{% endblock title %}

{% block style %}

<style>
  #block {
    font-style: initial;
    font-size: x-large;
  }

  h1,h4 {
    color: darkmagenta;
   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
img{
  float: left;
}

.heading {
  color: purple;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}


</style>
{% endblock style %}


{% block body %}

<br><br>
<div class="container" style="width: 85%;">
  <h2 class="heading">SERVICES</h2>

  <div class="row"> 
    <!-- Blog -->

    <section class="blog mt10">
      <div class="col-md-15"> 
        <!-- Article -->
        <article>
          <div class="row">
            <!-- <div class="col-sm-7 col-xs-10 meta">
              </div> -->
            <div class="col-md-12">
              <br>
              <br>
              <p>Magic Search is a complete solution to your accommodation requirements. Our field of specialization is Paying Guest accommodations and Service for rental houses. </p>

              <hr>
              
              
              <h4><a name="one">Living Rooms</a></h4>
              <img src="http://metrocityhostel.com/images/blog/luxury-rooms-in-hyderabad.gif" alt="Living room  "  class="img-circle" style="margin-right:30px;">
              <p>All Our rooms are made to ensure the comfort of our occupants. Infrastructure is of highest standards, with verified hygienic facilities. </p>
             <br>
              <br>

              <hr>
              <h4><a name="two">Television</a></h4>
              <img src="http://metrocityhostel.com/images/blog/sharing-accommodation.gif" alt="Tv"  class="img-circle" style="margin-right:30px;">
              <p>Our rooms are equipped with separate new LED TV for each room with cable connection & sitting facility depending upon the your choice .</p>

              
              <br>
              <br>
              <hr>
              <h4><a name="three">Wifi Internet</a></h4>
              <img src="http://metrocityhostel.com/images/blog/mens-hostel-in-ameerpet.gif" alt="Wifi"  class="img-circle" style="margin-right:30px;">
              <p>We provide all facilities including WiFi connection to our occupants throughout the building with high speed, which is still a users choice.
              </p>
             <br>
             <br>
             
              <hr>
              <h4><a name="four">24hrs Water Supply</a></h4>
              <img src="http://metrocityhostel.com/images/blog/paying-guest-in-hyderabad.gif" alt="Wifi"  class="img-circle" style="margin-right:30px;">
              <p>We provide 24 hours water supply facility. Both Rent house and PG rooms are provided with  Water Facilities.  </p>
              <br>
              <br>
              <hr>

              <h4><a name="five">Electricity</a></h4>
              <img src="https://i.pinimg.com/564x/db/65/87/db65879d51e1a183178cd0eb593f83b7.jpg" alt="Wifi"  class="img-circle" style="width:100px;height:100px;margin-right:30px;">
              <p>We provide houses based on the  24 hours supply facility. Both Rent house and PG rooms are provided with this facility.  </p>
              
              <br>
                <br>
                <br>
                <hr>

              <h4><a name="six">Balcony</a></h4>
              <img src="https://i.pinimg.com/originals/2b/29/39/2b293939960cc15730ef98d5bfac0365.jpg" alt="Balcony"  class="img-circle" style="width:100px;height:100px;margin-right:30px;">
              <p>We provide houses and PG based on the balcony Availability. Both Rent house and PG rooms are provided with this facility.  </p>
              <br>
              <br>
              <br>
              <hr>

              <h4><a name="seven">Pet Friendly </a></h4>
              <img src="https://media.istockphoto.com/vectors/pet-friendly-logo-icon-for-pets-allowed-public-places-vector-id1222702208?s=612x612" alt="Balcony"  class="img-circle" style="width:100px;height:100px;margin-right:30px;">
              <p>We provide houses which are both pet Friendly and Non-friendly upto the users choice.  </p>
              <br>
              <br>  

          <hr>  
              
            </div>
          </div>
        </article>
       
      </div>
    </section>
    
    
{% endblock body %}
